<h1>Listing recipes</h1>

<table>
  <tr>
  	<th>Deleted</th>
    <th>Title</th>
    <th>Desc</th>
    <th>Course</th>
    <th>Serves</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
  	<td><%= 'X' if recipe.deleted? %></td>
    <td><%=h recipe.title %></td>
    <td><%=h recipe.desc %></td>
    <td><%=h recipe.course %></td>
    <td><%=h recipe.serves %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recipe', new_recipe_path %>