<p>
  <b>Title:</b>
  <%=h @recipe.title %>
</p>

<p>
  <b>Desc:</b>
  <%=h @recipe.desc %>
</p>

<p>
  <b>Course:</b>
  <%=h @recipe.course %>
</p>

<p>
  <b>Serves:</b>
  <%=h @recipe.serves %>
</p>

<p>
  <b>Ingredients:</b>
  <table>
    <thead>
      <tr>
        <th>Deleted</th>
        <th>Name</th>
        <th>Quntitiy</th>
        <th>Unit of Measure</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => @recipe.ingredients %>
    </tbody>
  </table>
  <%= link_to 'Add Ingredient', new_recipe_ingredient_path(@recipe) %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>